<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis cursos</title>
    <!-- Incluye los estilos de Tailwind CSS a través de CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Otras etiquetas head... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <style>
        .swal2-popup {
            background-color: #111827 !important;
            color: #ffffff;
        }

        .swal2-confirm {
            background-color: #4F46E5 !important;
            color: white !important;
            border: none !important;
        }

        .swal2-title,
        .swal2-content {
            color: white !important;
        }

        .text-lg {
            line-height: 3rem;
        }

        #modalCont {
            width: 50%;
        }

        @media screen and (max-width: 800px) {
            #modalCont {
                width: 95%;
            }
        }
    </style>
</head>

<body class="bg-gray-900 text-white">

    <!-- MODAL PARA EDITAR CURSO -->
    <div id="modalEditar" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <!-- Contenido del modal -->
        <div id="modalCont" class="relative mx-auto my-10 p-6 bg-gray-900 sm:w-90 md:w-80 lg:w-96 rounded-md">
            <!-- Contenido del formulario -->
            <h1 class="text-2xl mb-10 font-bold">Editar curso</h1>
            <form id="editCursoForm" class="grid grid-cols-6 gap-4" action="/editarCurso" method="post"
                enctype="multipart/form-data">

                <input type="hidden" id="cursoIdEditar" name="id">

                <!-- Nombre del Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="nombreCurso">
                        Nombre del Curso:
                    </label>
                    <input id="nombreCursoEditar" name="nombreCurso" type="text" autocomplete="off" required
                        class="w-full rounded-md border-2 border-gray-800 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6 required">
                </div>

                <!-- Tipo de Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="tipoCurso">
                        Tipo de Curso:
                    </label>
                    <select id="tipoCursoEditar" name="tipoCurso"
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                        <option value="Curso">Curso</option>
                        <option value="Certificacion">Certificación</option>
                        <option value="Diplomado">Diplomado</option>
                    </select>
                </div>

                <!-- Duración del Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="duracionCurso">
                        Duración del Curso:
                    </label>
                    <input id="duracionCursoEditar" name="duracionCurso" type="number" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Fecha de Inicio -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="fechaInicio">
                        Fecha de Inicio:
                    </label>
                    <input id="fechaInicioEditar" name="fechaInicio" type="date" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Quién impartió el Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="instructor">
                        Instructor:
                    </label>
                    <input id="instructorEditar" name="instructor" type="text" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Tipo de Institución -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="tipoInstitucion">
                        Lugar:
                    </label>
                    <select id="tipoInstitucionEditar" name="tipoInstitucion"
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                        <option value="Institucion">Institución</option>
                        <option value="Externo">Externo</option>
                    </select>
                </div>

                <!-- Subir Archivo -->
                <div class="col-span-6">
                    <label class="block text-white text-sm font-bold mb-2" for="archivoCurso">
                        Subir Archivo (PDF):
                    </label>
                    <input id="archivoCursoEditar" name="archivoCurso" type="file" accept=".pdf" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Botón para Aceptar -->
                <button type="submit" id="btnAceptar"
                    class="col-span-6 sm:col-span-3 mt-4 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Aceptar
                </button>


                <!-- Botón para cerrar el modal -->
                <button type="button" onclick="cerrarModalEditar()"
                    class="col-span-6 sm:col-span-3 mt-4 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Cerrar
                </button>
            </form>
        </div>
    </div>

    <!-- Modal para detalles del curso -->
    <div id="modalDetalles" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <!-- Contenido del modal -->
        <div id="modalCont"
            class="relative mx-auto my-10 p-6 bg-gray-900 sm:w-11/12 md:w-2/3 lg:w-1/2 xl:w-1/3 rounded-md">
            <!-- Contenido del curso -->
            <h1 class="text-2xl mb-6 font-bold text-white">Detalles del curso</h1>
            <div class="bg-gray-900 p-6 rounded-md">
                <table class="table-auto w-full">
                    <tbody>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">ID Curso</td>
                            <td id="idCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Nombre del curso</td>
                            <td id="nombreCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Instructor</td>
                            <td id="instructorDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Tipo de curso</td>
                            <td id="tipoCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Duración del curso</td>
                            <td id="duracionCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Lugar del curso</td>
                            <td id="lugarCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <tr class="mb-4">
                            <td class="text-lg font-medium text-white">Fecha del curso</td>
                            <td id="fechaCursoDetalles" class="mt-1 font-medium text-lg text-gray-300"></td>
                        </tr>
                        <!-- Agregar más filas según sea necesario -->
                    </tbody>
                </table>
                <!-- Botón para cerrar el modal -->
                <button type="button" onclick="cerrarModalDetalles()"
                    class="absolute top-0 right-0 mt-4 mr-4 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- component -->
    <div
        class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 w-full h-full max-w-6xl sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl">

        <!-- Navigation -->
        <div class="bg-gray-900 px-2 lg:px-4 py-2 lg:py-10 sm:rounded-xl flex lg:flex-col justify-between">
            <nav class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2">
                <a class="text-white p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
                    href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                </a>


            </nav>
            <div class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2">
                <a class="text-white p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
                    href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>


        <!-- Content -->
        <div class="flex-1 px-2 sm:px-0">
            <div class="flex justify-between items-center">
                <h3 class="text-3xl font-extralight text-white">Mis Cursos</h3>
                <div class="inline-flex items-center space-x-2">
                    <a class="bg-gray-900 text-white p-2 rounded-md hover:text-white smooth-hover" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                        </svg>
                    </a>
                    <a class="bg-gray-900 text-white p-2 rounded-md hover:text-white smooth-hover" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 10h16M4 14h16M4 18h16" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

                <div class="group bg-gray-900/30 py-20 px-4 flex flex-col space-y-2 items-center  rounded-md">
                    <a 
                        class="bg-gray-900 text-white group-hover:text-white  flex w-20 h-20 rounded-full items-center justify-center"
                        href="/guardarCurso">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </a>
                    <button class="text-white text-center">Nuevo curso</button>

                </div>

                <% cursos.forEach(curso=> { %>
                    <div
                        class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
                        <h3 class="text-white text-2xl font-bold capitalize text-center">
                            <%= curso.nombreCurso %>
                        </h3>


                        <p class="text-white">Por : <%= curso.Instructor%>
                        </p>
                        <p class="text-white">
                            <%= curso.DuracionCurso %> Horas
                        </p>
                        <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">ID: <%= curso.id%><span
                                    class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span>
                        </p>

                        <!-- Botones con iconos en dos filas -->
                        <div class="flex flex-col space-y-2 mt-4">
                            <div class="flex space-x-4">
                                <a href="javascript:void(0);" onclick="confirmarDescarga(<%= curso.id %>)"
                                    class="text-white hover:text-gray-300 focus:outline-none">
                                    <i class="fas fa-file-pdf"></i>
                                </a>

                                <button onclick="abrirModalDetalles(<%= JSON.stringify(curso) %>)"
                                    class="text-white hover:text-gray-300 focus:outline-none">
                                    <i class="fas fa-eye"></i>
                                </button>

                            </div>
                            <div class="flex space-x-4">
                                <button onclick="abrirModalEditar('<%= curso.id %>')"
                                    class="text-white hover:text-gray-300 focus:outline-none">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button onclick="eliminarCurso('<%= curso.id %>')"
                                    class="text-white hover:text-gray-300 focus:outline-none">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

 

    <!-- SWEET ALERT DE CONFIRMACION PARA DESCARGAR EL CURSO-->
    <script>
        // Función para mostrar el SweetAlert y descargar el archivo si el usuario confirma
        function confirmarDescarga(id) {
            Swal.fire({
                title: '¿Desea descargar el documento?',
                text: 'Esta acción descargará el documento en tu dispositivo.',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, guardar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, redirige a la ruta de descarga
                    window.location.href = `/download/${id}`;
                }
            });
        }
    </script>

    <!-- ABRIR EL MODAL DE EDITAR-->
    <script>
        function abrirModalEditar(cursoId) {
            fetch(`/editar/${cursoId}`)
                .then(response => response.json())
                .then(curso => {
                    console.log('Datos del curso:', curso);

                    // Llena el formulario con los datos del curso
                    document.getElementById('nombreCursoEditar').value = curso.nombreCurso;
                    document.getElementById('tipoCursoEditar').value = curso.TipoCurso;
                    document.getElementById('duracionCursoEditar').value = curso.DuracionCurso;

                    // Convertir la fecha al formato "yyyy-MM-dd"
                    const fechaInicio = new Date(curso.FechaInicio);
                    const fechaInicioFormatted = fechaInicio.toISOString().split('T')[0];

                    document.getElementById('fechaInicioEditar').value = fechaInicioFormatted;

                    document.getElementById('instructorEditar').value = curso.Instructor;
                    console.log('Lugar:', curso.Lugar);
                    document.getElementById('tipoInstitucionEditar').value = curso.Lugar;

                    // Agrega el ID del curso al formulario
                    document.getElementById('cursoIdEditar').value = cursoId;

                    // Abre el modal
                    document.getElementById('modalEditar').classList.remove('hidden');
                })
                .catch(error => console.error('Error al obtener datos del curso:', error));
        }

        document.getElementById('editCursoForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Obtiene los datos del formulario
            const formData = new URLSearchParams(new FormData(this));

            // Realiza la solicitud POST al servidor para actualizar los datos
            fetch('/editarCurso', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: formData.toString(),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Datos actualizados:', data);
                    cerrarModalEditar(); // Cierra el modal después de la actualización
                })
                .catch(error => console.error('Error al actualizar datos del curso:', error));
        });

        // Función para cerrar el modal
        function cerrarModalEditar() {
            document.getElementById('modalEditar').classList.add('hidden');
        }
    </script>


    <!-- ABRIR EL MODAL DE AGREGAR-->
    <script>
        // Función para abrir el modal
        function abrirModal() {
            document.getElementById('modal').classList.remove('hidden');
        }

        // Función para cerrar el modal
        function cerrarModal() {
            document.getElementById('modal').classList.add('hidden');
        }


    </script>
    <!-- ABRIR EL MODAL DE DETALLES-->
    <script>
        // Función para formatear la fecha
        function formatDate(dateString) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(dateString).toLocaleDateString('es-ES', options);
        }

        // Función para abrir el modal
        function abrirModalDetalles(curso) {
            document.getElementById('modalDetalles').classList.remove('hidden');

            // Formatea la fecha y actualiza el contenido del modal con la información del curso
            document.getElementById('idCursoDetalles').innerText = curso.id;
            document.getElementById('nombreCursoDetalles').innerText = curso.nombreCurso;
            document.getElementById('instructorDetalles').innerText = curso.Instructor;
            document.getElementById('tipoCursoDetalles').innerText = curso.TipoCurso;
            document.getElementById('duracionCursoDetalles').innerText = `${curso.DuracionCurso} horas`;
            document.getElementById('lugarCursoDetalles').innerText = curso.Lugar;
            document.getElementById('fechaCursoDetalles').innerText = formatDate(curso.FechaInicio);
        }

        // Función para cerrar el modal
        function cerrarModalDetalles() {
            document.getElementById('modalDetalles').classList.add('hidden');
        }
    </script>

    <!-- SCRIPT PARA ELIMINAR EL REGISTRO DEL CURSO-->
    <script>
        function eliminarCurso(cursoId) {
            // Mostrar SweetAlert para confirmar la eliminación
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción eliminará el curso y no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Hacer una solicitud AJAX para eliminar el curso
                    fetch(`/eliminarCurso/${cursoId}`, {
                        method: 'POST',
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // Mostrar SweetAlert para informar sobre la eliminación exitosa
                                Swal.fire({
                                    title: '¡Eliminado!',
                                    text: 'El curso ha sido eliminado exitosamente.',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    // Puedes recargar la página o actualizar la lista de cursos, según tus necesidades
                                    location.reload(); // Recargar la página
                                });
                            } else {
                                // Mostrar SweetAlert en caso de error
                                Swal.fire({
                                    title: 'Error',
                                    text: `Error al eliminar el curso: ${data.message}`,
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error en la solicitud AJAX:', error);
                        });
                }
            });
        }
    </script>


</body>

</html>